{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
<style>

    body {
        background-image: url("https://cdn.discordapp.com/attachments/1078070575697776650/1151662884867276810/layered-waves-haikei.png") ;
        background-size: 100% 120%;
        background-repeat: no-repeat;
        height: 100vh;
    }

    a {
        text-decoration: none;
        color:#4F6D7A;
    }

    svg {
        position: fixed;
        width: 31px;
        height: auto;
        border-radius:50%;
        transition: 0.2s all ease-in-out;
    }

    svg:hover {
        background-color:rgba(0,0,0,0.1);
    }

    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    img {
        height: 250px;
        width: 250px;
        border-radius: 50%;
        margin: auto;
    }
    #display {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    p {
        font-family: 'Poppins', sans-serif;
    }

    h2, h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 17px;
        font-weight: bold;
    }

    .titleProfile {
        font-weight: bold;
        font-family: 'Pacifico', cursive;
        font-size: 23px;
        text-align: center;
        padding-bottom: 70px;
        color: #EC3254;
    }

    .contentDescription {
        padding-top: 70px;
    }

    .nameUser {
        padding-bottom: 20px;
    }

    footer {
        position: absolute;
        bottom: 3%;
        left: 50%;
        transform: translate(-50%, -2%);
    }

    footer p {
        font-size: 10px;
        font-weight:300;
        text-transform: capitalize;
    }

</style>

{# <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">PingoMatch</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link btn" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn" href="/mached">Vos matchs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn" href="/profile">Votre profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-danger" href="/login">Déconnexion</a>
                </li>

            </ul>
        </div>
    </div>
</nav> #}
<div class="example-wrapper">
   <a href="/mached"> 
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75" />
        </svg>
    </a>
    <p id="user-data" style="display:none;">{{users}}<p>
    <div id="display"></div>
</div>

<footer>
    <p>© PingoMatch, Haute-Savoie, Annecy | 2023</p>
</footer>

<script>
    const display = document.getElementById('display');
    const userData = JSON.parse(document.getElementById('user-data').innerHTML);
    let myUser = localStorage.getItem('myUser');

    myUser = userData.find((user) => user.Name === myUser);
    console.log(myUser);

    display.innerHTML = `
        <img src="${myUser.img}"/>
        <div class="contentDescription">
            <h2 class="titleProfile">Bienvenue sur mon profil</h2>
            <p>Nom</p>
            <h2 class="nameUser">${myUser.Name}</h2>
            <p>Description</p>
            <h3>${myUser.Description}</h3>
        </div>
    `;

</script>
{% endblock %}
