{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<style>

    body {
        background-image: linear-gradient(to right top, #4f6d7a,#65769e, #a275a9, #dd718d, #ef8557);
        background-size: 400% 400%;
        height: 100vh;
        animation: gradient 10s ease infinite;
    }

    @keyframes gradient {
   0% {
       background-position: 0% 50%;
       }
    50% {
       background-position: 100% 50%;
       }
   100% {
       background-position: 0% 50%;
       }
   }    

    a, .styleBtn {
        text-decoration: none;
        color: #fff;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
    }

    a:hover {
        color: #000;
    }

    .example-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }

    .logoHome {
        width: 300px;
        height: auto;
    }

    #titleHome {
        font-size: 50px;
        color: #fff;
    }

    .titleLogo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #btnHome {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 200px;
        margin: 70px;
    }

    .btnConnection, .btnCreation {
        background-color: #EC3254;
        color: #fff;
        border: 0;
        border-radius: 30px;
        height: 45px;
        width: 220px;
        transition: box-shadow 0.2s;
    }

    .btnConnection {
        background-image: linear-gradient(to left bottom, #ef5773, #ef516d, #ee4b68, #ee4462, #ed3d5c, #ec3857, #ea3253, #e92c4e, #e72749, #e52244, #e21c3f, #e0153a);
    }

    .btnConnection:hover {
        box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    }

    .btnConnection:active {
        box-shadow: 2px 2px 5px rgba(0,0,0,0.4) inset;
    }

    .btnCreation:hover {
        box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    }

    .btnCreation:active {
        box-shadow: 2px 2px 5px rgba(0,0,0,0.4) inset;
    }

    .btnCreation {
        background-color: #EF8557;
        background-image: linear-gradient(to left bottom, #f3a07c, #f29b75, #f2966e, #f19167, #f08c60, #ef875a, #ef8354, #ee7e4e, #ee7947, #ed7440, #ed6f39, #ec6a32);
    }

    footer {
        position: absolute;
        bottom: 3%;
        left: 50%;
        transform: translate(-50%, -2%);
    }

    footer p {
        font-size: 10px;
        font-weight:300;
        text-transform: capitalize;
    }

</style>

<div class="example-wrapper">
    <div class="titleLogo">
        <img src="https://robotdog.thomastestaud.com/mancho/Logo-PingoMatch_2.png" class="logoHome" />
        <h1 id="titleHome">Pingo Match</h1>
    </div>
    <div id="btnHome">
        <a href="/login"><button class="btnConnection styleBtn">Connexion</button><a/>
        <a href="/signin"><button class="btnCreation styleBtn">Créer un compte</button><a/>
    </div>
</div>

<footer>
    <p class="text-white">© PingoMatch, Haute-Savoie, Annecy | 2023</p>
</footer>
{% endblock %}
