{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="mb-4">
            <div class="text-center bg-primary text-white py-4">
                <h1 class="display-4">PingoMatch</h1>
                <p class="lead">Pôle de Rencontres</p>
            </div>
        </div>

<div class="example-wrapper">
    <div>
        <label for="username" class="form-label">Username:</label>
        <input type="text" name="username" id="username" class="form-control"><br>
        <label for="password" class="form-label">Password:</label>
        <input type="password" name="password" id="password" class="form-control"><br>
        <p id="user-data" style="display:none;">{{users}}</p>
        <p style="color:red;" id="errors"></p>
        <button id="connect" class="btn btn-primary">Connexion</button>
    </div>
    <a href="/signin" class="btn btn-secondary">Créer un compte</a>
</div>


<script>
    const userData = JSON.parse(document.getElementById('user-data').innerHTML);
    const connectBtn = document.getElementById('connect');
    const errors = document.getElementById('errors');
    console.log(typeof userData);

    function connect() {
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;

        if(username !== '' && password !== "") {
            const result = userData.find((user) => user.Name === username);
            if(result.Password === password) {
                localStorage.setItem("myUser", username);
                errors.innerHTML = "";
                window.location.href = "/";
            }else {
                errors.innerHTML = "Nom d'utilisateur ou MDP inccorect";
            }
        }else {
            errors.innerHTML = "Nom d'utilisateur ou MDP inccorect";
        }

    }

    connectBtn.addEventListener('click', () => {
        connect();
    })
</script>
{% endblock %}
