{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    img {
        height: 300px;
        width: 300px;
        border-radius: 50%;
        margin: auto;
    }
    #display {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    p {
        text-decoration: underline;
    }

    h2, h3 {
        margin-left: 20px;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">PingoMatch</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link btn" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn" href="/mached">Vos matchs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn" href="/profile">Votre profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-danger" href="/login">Déconnexion</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div class="example-wrapper">
    <p id="user-data" style="display:none;">{{users}}<p>
    <div id="display"></div>
</div>

<script>
    const display = document.getElementById('display');
    const userData = JSON.parse(document.getElementById('user-data').innerHTML);
    let myUser = localStorage.getItem("visitProfile");

    myUser = userData.find((user) => user.Name === myUser);
    
    console.log(localStorage.getItem("visitProfile"));

    display.innerHTML = `
        <img src="${myUser.img}"/>
        <p>Nom : </p>
        <h2>${myUser.Name}</h2>
        <p>Description : </p>
        <h3>${myUser.Description}</h3>
    `;

</script>
{% endblock %}
