{% extends 'base.html.twig' %}

{% block title %}Matched{% endblock %}

{% block body %}
<style>

    .hoverNavA {
        color: #000;
    }

    .hoverNavA:hover {
        background-color: rgba(219, 233, 238, 0.5);
    }

    .titleName {
        font-family: 'Pacifico', cursive;
    }

    #display {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        max-height: 100vh;
        overflow: scroll;
        padding-bottom: 100px;
    }

    #display::-webkit-scrollbar {
        display: none;
    }
    
    .matchedFlex {
        width: 40%;
    }

    .matched-line {
        position: relative;
        padding-top:10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:15px;
        cursor: pointer;
        transition: background-color 0.2s;
    }

    .matched-line:hover {
        background-color: rgba(219, 233, 238, 0.5);
        border-radius: 10px;
    }

    {# .matched-line + .matched-line {
        border-top: 1px dashed grey;
    } #}

    img {
        height: 140px;
        width: auto;
        border-radius: 50%;
        object-fit: cover;
    }

    #pop-up {
        position: absolute;
        z-index: 2;
        border: 1px solid black;
        border-radius: 15px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;
        height: 90vh;
        background-color: white;
    }

    #pop-up div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #pop-up img {
        border-radius:0;
        width:40%;
        height: 80%;
        object-fit: cover;
    }

    #cross {
        position: absolute;
        right: 3%;
        top: 3%;
        font-size: 30px;
        color: #000;
    }

    .none {
        display: none !important;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-white bg-white">
    <div class="container">
        <a class="navbar-brand titleName" href="/">PingoMatch</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link btn hoverNavA" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn hoverNavA" href="/mached">Vos matchs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn hoverNavA" href="/profile">Votre profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-danger" href="/home">Déconnexion</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div class="example-wrapper">
    <p id="user-data" style="display:none;">{{users}}<p>
    <div id="display">
    </div>
    <div id="pop-up" class="none"></div>
</div>

<script>
    const display = document.getElementById('display');
    const popUp = document.getElementById('pop-up');
    const userData = JSON.parse(document.getElementById('user-data').innerHTML);
    const matched = localStorage.getItem('matched').split(',').map(item => item.trim());

    let list = "";

    userData.forEach((allData) => {
        matched.forEach((maEl) => {
            if(allData.Name === maEl) {
                list += `
                <div class="matchedFlex">
                    <div class="matched-line">
                        <img src="${allData.img}"/>
                        <h3 class="name">${allData.Name}</h3>
                    </div>
                </div>`;
            }
        })
    });

    display.innerHTML = list;

    const guys = document.querySelectorAll('.matched-line');
    const names = document.querySelectorAll('.name');

    let count = 0;
    guys.forEach((guy, index) => {
        guy.addEventListener('click', () => {
            /*
            let popupContent = '';

            popUp.classList.remove('none');

            userData.forEach((allData) => {
                if(allData.Name === names[index].innerHTML) {
                popupContent += `
                    <div>
                        <img src="${allData.img}"/>
                    </div>
                    <div>
                        <h2 id="cross">X</h2>
                        <h3 class="name">${allData.Name}</h3>
                        <p>${allData.Description}</p>
                    </div>
                    `;
            }
            });
            
            popUp.innerHTML = popupContent;
           
            const cross = document.getElementById('cross');
            cross.addEventListener('click', () => {
                popUp.classList.add('none');
                popUp.innerHTML = "";
            })
            */

            localStorage.setItem("visitProfile", names[index].innerHTML);
            window.location.href = "/otherprofiles";

        })
    })


</script>
{% endblock %}